<% view_class = 'd-block d-lg-none' if section.view_mobile?%>
<% view_class = 'd-none d-lg-block' if section.view_desktop?%>

<div class="who-marcel pt-<%= section.padding_top%> pb-<%= section.padding_bottom%> px-2 px-lg-0 <%= view_class%>">
      <div class="heading"><%= section.text1.present? ? section.text1.html_safe : 'no text1' %>
<svg width="112" height="145" viewBox="0 0 112 145" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M73.7453 41.9544C71.3453 41.5544 67.5453 42.2544 63.6454 43.5544C59.7453 44.8544 58.2453 43.1544 57.7453 39.1544C57.5454 37.5544 58.1453 36.3544 60.8454 36.3544C62.5454 36.3544 64.4453 36.3544 65.9453 35.6544C69.3453 34.1544 68.7453 30.8544 65.5453 31.6544C56.2453 33.9544 50.4453 27.0544 53.5453 25.8544C54.9453 25.3544 57.6454 24.8544 59.0454 24.3544C62.0454 23.1544 60.4453 20.0544 58.0453 20.7544C55.0453 21.6544 41.8453 22.1544 37.1453 18.0544C34.8453 15.9544 32.1453 19.3544 34.4453 21.3544C36.1453 22.8544 39.0453 24.0544 41.3453 24.8544C47.1453 27.0544 47.2453 30.0544 51.5453 32.9544C55.8453 35.7544 52.4454 38.9544 54.0453 45.3544C54.6454 47.6544 54.5453 49.1544 53.2453 53.3544C52.4454 55.9544 54.9453 57.0544 56.8453 55.0544C61.5453 50.2544 66.3453 46.7544 74.4453 45.4544C76.4454 45.2544 76.9453 42.4544 73.7453 41.9544ZM58.2454 109.754C55.0453 108.854 55.0453 107.454 57.4453 106.154C64.8454 102.054 72.1453 98.8544 79.2453 97.1544C81.0453 96.7544 82.0453 96.5544 84.7454 98.3544C87.5453 100.154 89.9453 102.454 88.7453 104.754C86.8453 108.654 71.6454 113.754 58.2454 109.754ZM44.1453 104.454C31.0453 100.054 29.4454 95.8544 33.6454 94.2544C36.1454 93.3544 35.9453 90.4544 32.5453 91.2544C30.1453 91.8544 19.1454 95.5544 16.8454 91.7544C13.7454 86.5544 19.1453 82.6544 17.5453 78.8544C16.4453 76.4544 19.4453 75.7544 18.9453 74.8544C18.3453 73.8544 17.0453 73.3544 15.2453 73.2544C13.9453 73.1544 13.6454 68.4544 18.5453 67.5544C20.5454 67.1544 21.1453 64.4544 18.5453 63.9544C12.0453 62.9544 8.04534 66.6544 6.64534 62.6544C6.04534 61.0544 8.84534 53.4544 11.9453 49.6544C14.5453 46.4544 18.0453 44.7544 14.1453 39.3544C11.6453 35.7544 14.7453 31.3544 15.7453 27.9544C16.6453 24.8544 17.6453 21.0544 22.1453 17.2544C24.4453 15.2544 22.6453 13.5544 17.8453 12.2544C13.7453 11.1544 11.4453 7.75439 14.9454 7.45439C16.6454 7.35438 20.9454 7.05439 24.2453 6.25439C39.8454 2.25439 70.5453 -0.24561 87.3453 21.1544C94.0453 29.7544 94.1453 40.7544 89.8453 56.3544C88.6453 60.6544 83.8453 70.3544 81.4453 79.1544C80.4454 83.0544 79.4454 86.6544 76.9454 79.3544C74.7453 72.6544 76.6453 71.7544 79.5453 64.0544C81.2454 59.6544 77.9454 59.1544 76.7454 62.3544C74.7453 67.2544 69.2453 72.1544 63.1453 72.9544C61.3453 73.1544 60.5453 75.8544 62.9454 76.3544C66.1454 77.0544 68.6454 73.9544 71.7454 78.9544C76.6454 87.0544 80.0454 90.3544 72.3454 93.8544C64.7454 97.3544 59.2454 99.7544 50.0454 104.254C49.0454 104.654 46.8454 105.354 44.1454 104.454L44.1453 104.454ZM92.5454 97.6544C98.1453 100.854 106.645 93.0544 111.445 104.954C100.145 100.154 85.0453 121.354 54.2454 112.854C50.2453 111.754 47.4454 112.854 44.3453 114.754C29.4453 123.654 27.1453 137.554 29.4453 144.654C14.4453 139.654 17.5453 125.054 38.0454 111.054C40.5453 109.354 42.1453 108.054 38.8453 107.154C28.7453 104.354 26.7453 99.9544 17.8453 99.9544C11.5453 99.9544 9.04534 93.9544 10.9453 86.4544C11.3453 84.7544 11.4453 83.5544 10.5453 81.2544C9.54534 78.7544 8.54534 75.2544 8.54534 71.4544C8.54534 69.8544 8.54535 68.6544 6.94534 68.4544C4.34535 68.0544 1.34533 68.4544 0.44533 64.3544C-0.654672 59.9544 3.54533 52.2544 6.24533 48.3544C8.44533 45.1544 8.24533 41.9544 7.74533 40.1544C6.84533 36.6544 7.24535 34.6544 9.04535 31.7544C11.6453 27.5544 11.1453 23.8544 11.0453 21.3544C11.0453 19.0544 12.8453 16.4544 10.8453 14.2544C8.44532 11.6544 6.34532 6.95439 5.84533 5.05439C5.44532 3.25439 7.24533 2.95439 8.34534 3.25439C10.3453 3.75439 15.4453 2.65439 21.6453 1.95439C40.7453 -0.245609 74.0454 -4.94561 91.8454 17.7544C99.2454 27.1544 100.745 46.3544 93.8454 57.9544C92.3453 61.9544 87.9453 73.2544 86.0453 82.4544C84.0453 90.8544 89.7453 96.0544 92.5454 97.6544Z" fill="#1D1D1B"></path>
</svg>

</div>
 <div class="grid">
  <picture class="image">
    01
  <source data-srcset="<%= main_app.cdn_image_url( section.image_one.attachment ) %>" class="lazyload entered" data-ll-status="entered" srcset="<%= main_app.cdn_image_url( section.image_one.attachment ) %>">
  <img data-src="<%= main_app.cdn_image_url( section.image_one.attachment ) %>" class="lazyload entered loaded" data-ll-status="loaded" src="<%= main_app.cdn_image_url( section.image_one.attachment ) %>">  
  </picture>
   <picture class="m-image">
    02
  <source data-srcset="<%= main_app.cdn_image_url( section.image_two.attachment ) %>" type="image/webp" class="lazyload">
  <img data-src="<%= main_app.cdn_image_url( section.image_two.attachment ) %>" class="lazyload">  
    <figcaption><%= section.text2.present? ? section.text2.html_safe : 'no text2' %></figcaption>
  </picture>
  <div class="content">
  <picture>
    02
  <source data-srcset="<%= main_app.cdn_image_url( section.image_two.attachment ) %>" type="image/webp" class="lazyload entered" data-ll-status="entered" srcset="<%= main_app.cdn_image_url( section.image_two.attachment ) %>">
  <img data-src="<%= main_app.cdn_image_url( section.image_two.attachment ) %>" class="lazyload entered loaded" data-ll-status="loaded" src="<%= main_app.cdn_image_url( section.image_two.attachment ) %>">  
    <figcaption><%= section.text2.present? ? section.text2.html_safe : 'no text2' %></figcaption>
  </picture>
    <div class="text"><p><%= section.text3.present? ? section.text3.html_safe : 'no text3' %></p>
<p><%= section.text4.present? ? section.text4.html_safe : 'no text4' %></p></div>
  </div>
</div>
<div class="author"><span>Herve Marcel Robert</span></div>
  </div>

