<% if section.gutters? %>
  <% section_one_padding = 'pr-md-2' %>
  <% section_two_padding = 'pl-md-2' %>
  <% if section.fullscreen? %>
    <% section_one_padding = 'px-3 pr-md-2' %>
    <% section_two_padding = 'px-3 pl-md-2' %>
  <% end %>
<% else %>
  <% if section.fullscreen? %>
    <% section_one_padding = 'px-0' %>
    <% section_two_padding = 'px-0' %>
  <% else %>
    <% section_one_padding = 'pr-md-0' %>
    <% section_two_padding = 'pl-md-0' %>
  <% end %>
<% end %>

<% if section.link_one.present? && section.link_type_one == 'Spree::Taxon' %>
  <% link_one = spree.nested_taxons_path(section.link_one) %>
<% elsif section.link_one.present? && section.link_type_one == 'Spree::Product' %>
  <% link_one = spree.product_path(section.link_one) %>
<% else %>
  <% link_one = nil %>
<% end %>

<% if section.link_two.present? && section.link_type_two == 'Spree::Taxon' %>
  <% link_two = spree.nested_taxons_path(section.link_two) %>
<% elsif section.link_two.present? && section.link_type_two == 'Spree::Product' %>
  <% link_two = spree.product_path(section.link_two) %>
<% else %>
  <% link_two = nil %>
<% end %>


<div class="row">
    <div class="col-12 col-md-7 mb-3 mb-md-0 <%= section_one_padding %>">
        <%= render '/spree/shared/cms/sections/taxon_snippet', section: section if section.link_type_one == 'Spree::Taxon' %>
        <%= render '/spree/shared/cms/sections/product_snippet', section: section if section.link_type_one != 'Spree::Taxon' %>
    </div>
    <div class="col-12 col-md-5 <%= section_two_padding %>">
        <%= render '/spree/shared/cms/sections/taxon_snippet', section: section if section.link_type_two == 'Spree::Taxon' %>
        <%= render '/spree/shared/cms/sections/product_snippet', section: section if section.link_type_two != 'Spree::Taxon' %>
    </div>
</div>

