<% view_class = 'd-block d-lg-none' if section.view_mobile?%>
<% view_class = 'd-none d-lg-block' if section.view_desktop?%>


<% images = []%>
<% images.push('one') if section.image_one&.attachment&.attached?%>
<% images.push('two') if section.image_two&.attachment&.attached?%>
<% images.push('three') if section.image_three&.attachment&.attached?%>

<div id="carouselExampleCaptions_<%= section.id%>" class="carousel slide <%= view_class%>" 
        <% if section.intervals? %> data-bs-ride="true" <% else %> data-bs-ride="false" <%end%> >
    <% if section.indicators? %>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions_<%= section.id%>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions_<%= section.id%>" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions_<%= section.id%>" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    <% end %>
  <div class="carousel-inner">
    <% images.each_with_index do |val, index| %>
        <% if val == 'one'%>
            <% pr1 = Spree::Product.find_by_slug(section.link_one) if section.link_one.present?%>
            <% pr2 = Spree::Product.find_by_slug(section.link_three) if section.link_three.present?%>
            <% link1 = spree.product_path(section.link_one) if section.link_one.present? %>
            <% link2 = spree.product_path(section.link_three) if section.link_three.present? %>
            <% position_x1 = section.position_x_one if section.link_one.present? %>
            <% position_y1 = section.position_y_one if section.link_one.present? %>
            <% position_x2 = section.position_x_three if section.link_three.present? %>
            <% position_y2 = section.position_y_three if section.link_three.present? %>
        <% end %>
        <% if val == 'two'%>
            <% pr1 = Spree::Product.find_by_slug(section.link_two) if section.link_two.present?%>
            <% pr2 = Spree::Product.find_by_slug(section.link_four) if section.link_four.present?%>
            <% link1 = spree.product_path(section.link_two) if section.link_two.present? %>
            <% link2 = spree.product_path(section.link_four) if section.link_four.present? %>
            <% position_x1 = section.position_x_two if section.link_two.present? %>
            <% position_y1 = section.position_y_two if section.link_two.present? %>
            <% position_x2 = section.position_x_four if section.link_four.present? %>
            <% position_y2 = section.position_y_four if section.link_four.present? %>
        <% end %>
        <% if val == 'three'%>
            <% pr1 = Spree::Product.find_by_slug(section.link_five) if section.link_five.present?%>
            <% pr2 = Spree::Product.find_by_slug(section.link_six) if section.link_six.present?%>
            <% link1 = spree.product_path(section.link_five) if section.link_five.present? %>
            <% link2 = spree.product_path(section.link_six) if section.link_six.present? %>
            <% position_x1 = section.position_x_five if section.link_five.present? %>
            <% position_y1 = section.position_y_five if section.link_five.present? %>
            <% position_x2 = section.position_x_six if section.link_six.present? %>
            <% position_y2 = section.position_y_six if section.link_six.present? %>
        <% end %>

        <% default_variant1 = pr1.default_variant if pr1.present?  %>
        <% default_variant2 = pr2.default_variant if pr2.present?  %>


        <div class="carousel-item <% if index == 0 %>active<%end%>  section-product-wrap"  <% if section.intervals?%>data-bs-interval="<%= section.intervals.to_i %>"<%end%> >
            <img src="<%= main_app.cdn_image_url( section.send("image_#{val}").attachment ) %>" class="d-block w-100" alt="...">
            <% if section.send("link_type_#{val}") == 'Spree::Product' %>
                <div class="pr1 position-absolute w-100" style="top: <%= position_y1%>%; left: <%= position_x1%>%;">
                    <% if pr1.present? %>
                        <%= link_to link1, class: "link d-flex text-decoration-none ps-4" do %>
                            <%= pr1.name %><br>
                            <%= display_price(default_variant1) %>
                        <% end %>
                        <%= link_to Spree.t(:add_to_cart), link1, class: "buy text-white ps-4" %>
                    <% end %>
                </div>
                <div class="pr2 position-absolute w-100" style="top: <%= position_y2%>%; left: <%= position_x2%>%;">
                    <% if pr2.present? %>
                        <%= link_to link2, class: "link d-flex text-decoration-none ps-4" do %>
                            <%= pr2.name %><br>
                            <%= display_price(default_variant2) %>
                        <% end %>
                        <%= link_to Spree.t(:add_to_cart), link2, class: "buy text-white ps-4" %>
                    <% end %>
                </div>
            <%end%>
            <% if section.send("link_type_#{val}") == 'Spree::Taxon' %>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            <% end %>
        </div>
    <%end%>
  </div>
  <% if section.controls? %>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions_<%= section.id%>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions_<%= section.id%>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <%end%>
</div>

<script>
    document.addEventListener('turbo:load', function () {
        var myCarousel = document.querySelector('#carouselExampleCaptions_<%= section.id%>')
        var carousel = new bootstrap.Carousel(myCarousel, {
        <% if section.intervals?%> interval: <%= section.intervals.to_i %>,<%end%>

        })
    })
</script>